# Created by https://www.toptal.com/developers/gitignore/api/vuejs,yarn
# Edit at https://www.toptal.com/developers/gitignore?templates=vuejs,yarn

### Vuejs ###
# Recommended template: Node.gitignore

node_modules/
dist/
npm-debug.log
yarn-error.log


### yarn ###
# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# if you are NOT using Zero-installs, then:
# comment the following lines
!.yarn/cache

# and uncomment the following lines
# .pnp.*

# End of https://www.toptal.com/developers/gitignore/api/vuejs,yarn

# Hardhat files

artifacts/
cache/